@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');

:root {
  --title-font: 'Sora', sans-serif;
  --body-font: 'Manrope', sans-serif;

  --title-screen-size: 2rem;
  --title-section-size: 1.5rem;

  --body-size: 1rem;

  --radius-icone: 10px;
  --radius-field: 13px;
  --radius-card: 20px;
  --radius-pill: 9999px;

  --space-small: 6px;
  --space-medium: 10px;
  --space-large: 14px;
  --space-xlarge: 22px;

  --bg-canvas: #ede4d6;
  --bg-surface: #fffbf4;
  --bg-field: #f3ece0;
  --bg-raised: #efe4d0;
  --border: #e6d8c8;

  --primary: #5e6e49;
  --primary-subtle: #dbe1cc;
  --accent: #a75f45;
  --warning: #e9d8b8;
  --danger: #f1ded6;

  --text-primary: #1e1814;
  --text-secondary: #5c5147;
  --text-muted: #75685e;
  --text-faint: #9c8f83;
  --text-disabled: #a79c90;

  --text-button: #fffbf4;
}

.dark {
  --bg-canvas: #1e1e1e;
  --bg-surface: #2d2d2d;
  --bg-field: #3a3a3a;
  --bg-raised: #444444;
  --bg-border: #555555;

  --primary: #96ac78;
  --primary-subtle: #2f3a25;
  --accent: #e0a184;
  --warning: #e9c478;
  --danger: #e58b6b;

  --text-primary: #fffbf4;
  --text-secondary: #d8c3a5;
  --text-muted: #b8a897;
  --text-faint: #9c8a79;
  --text-disabled: #6b5b4b;

  --text-button: #1e1814;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'Manrope',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-size: var(--body-size);
  background-color: var(--bg-canvas);
  color: var(--text-primary);
}
